GOMA_LOG_LEVEL=info
GOMA_ENABLE_METRICS=true
GOMA_ENABLE_LIVENESS=true
GOMA_TIMEOUT_READ=30
GOMA_TIMEOUT_WRITE=30
GOMA_TIMEOUT_IDLE=60
GOMA_EXTRA_CONFIG_DIR=/etc/goma/extra
GOMA_EXTRA_CONFIG_WATCH=false
GOMA_ENTRYPOINT_WEB_ADDRESS=[::]:80
GOMA_ENTRYPOINT_WEB_SECURE_ADDRESS=[::]:443

GOMA_REDIS_ADDR=
GOMA_REDIS_PASSWORD=
GOMA_REDIS_DB=